<spinner [show]="loading"></spinner>
<div class="row" *ngIf="isParentCategory && parentCategories !== undefined">
  <div class="col-xl-12">
    <h1>Root categories</h1>
    <div class="row is-flex">
      <div class="col-sm-4 card" *ngFor="let item of parentCategories">
        <category [data]="item"></category>
      </div>
    </div>
  </div>
</div>
<div class="row holderCategories" *ngIf="!isParentCategory && rows !== undefined">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h1>{{currentCategory.name}}</h1>
    <h5 *ngIf="currentCategory.parent">
      <a [routerLink]="['/pages/categories', currentCategory.parent.uuid]">Parent: {{currentCategory.parent.name}}
      </a>
    </h5>
    <h5 *ngIf="!currentCategory.parent"><a [routerLink]="['/pages/categories']">Root categories</a></h5>
  </div>
  <ngb-tabset style="width: 100%">
    <ngb-tab>
      <ng-template ngbTabTitle>Categories</ng-template>
      <ng-template ngbTabContent>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="row is-flex" *ngIf="currentCategory.children.length !== 0">
            <div class="col-sm-4 card" *ngFor="let item of currentCategory.children">
              <category [data]="item"></category>
            </div>
          </div>
          <empty *ngIf="currentCategory.children.length === 0" [title]="'No categories'"
                 [text]="'Check card holder presence'"></empty>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Card holders</ng-template>
      <ng-template ngbTabContent>
        <div style="width: 100%">
          <ngx-datatable
            [rows]="rows"
            [headerHeight]="50"
            [columnMode]="'flex'"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            class="material"
            [externalPaging]="true"
            [count]="count"
            [offset]="offset"
            [limit]="limit"
            (page)='setPage($event)'>
            <ngx-datatable-column name="Name" prop="name" [flexGrow]="3"></ngx-datatable-column>
            <ngx-datatable-column name="Subscribed" prop="subscribed" [flexGrow]="1">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <label class="switch">
                  <input type="checkbox" name="isSubscribed" [checked]="value" (change)="subscribeToCardHolder(value, row)">
                  <div class="slider round"></div>
                </label>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

