<div class="row">
  <div *ngIf="!showTable" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ba-card baCardClass="banner-column-panel">
      <div class="banner">
        <div class="large-banner-wrapper">
          <img src="{{ ( 'app/typography/banner.jpg' | baAppPicture ) }}" alt=""/>
        </div>
        <div class="banner-text-wrapper">
          <div class="banner-text">
            <h1>No subscriptions</h1>
            <p>Click here to add</p>
          </div>
        </div>
      </div>
    </ba-card>
  </div>
  <div *ngIf="showTable" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="count"
    [offset]="offset"
    [limit]="limit"
    (page)='setPage($event)'>
  </ngx-datatable>
  </div>
</div>

