<spinner [show]="loading"></spinner>
<div class="form-group">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-success" [routerLink]="['/pages/rooms/new']">
        <i class="ion-plus-circled"></i>
        Create new room
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label for="nameFilter">Name</label>
      <input type="text" [(ngModel)]="nameFilter" (ngModelChange)="nameChanged($event)" class="form-control"
             id="nameFilter"
             placeholder="Name">
    </div>
  </div>
</div>
<empty *ngIf="rows && rows.length === 0" [title]="'No rooms'" [text]="'Add some'"></empty>
<div style="width: 100%" *ngIf="rows && rows.length !== 0">
  <ngx-datatable
    [rows]="rows"
    [headerHeight]="50"
    [columnMode]="'flex'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    class="material"
    [externalPaging]="true"
    [count]="count"
    [offset]="offset"
    [limit]="limit"
    (page)='setPage($event)'>
    <ngx-datatable-column name="Name" prop="name" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="Building" prop="building" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="Floor" prop="floor" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="Online" prop="online" [flexGrow]="1">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <a *ngIf="value > 0" [routerLink]="['/pages/holders/room/', row.uuid, 'online']">{{value}}</a>
        <span *ngIf="value === 0">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Online" prop="online" [flexGrow]="1">
      <ng-template ngx-datatable-header-template>
      </ng-template>
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <a [routerLink]="['/pages/rooms', row.uuid, 'edit']" style="margin-right: 20px; margin-left: 20px; font-size: 24px; cursor: pointer"><i class="ion-edit"></i></a>
        <span (click)="deleteRoom(row.uuid)" style="margin-right: 2px; font-size: 24px; cursor: pointer"><i class="ion-trash-a"></i></span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
